<div class="content">
  <div class="header-container">
    <div class="logo-container">
      <h1 class="logo-container"><a href="/home">Booksy</a></h1>
    </div>
    <div class="search-bar-container">
      <input type="search" class="search-bar" placeholder="Search by author, title or name">
    </div>
    <div class="profile-info-container">
      <div class="buttons-container">
        <button mat-stroked-button color="primary" class="auth-buttons">Log In</button>
        <button mat-stroked-button color="primary" class="auth-buttons">Register</button>
      </div>
    </div>
  </div>
</div>
