img{
  max-width: 50%;
  height: auto;
  border-radius: 20px;
}

.card-image{
  display: flex;
  justify-content: center;
  align-items: center;
}

  .card-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 300px;
    margin-bottom: 10%;
  }

.card-info-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2, h3{
  margin: 0;
}

button{
  margin-bottom: 3%;
}
