<div class="content">
  <div class="navigation-container">
    <app-navigation-link link_name = "Home" href="/home"></app-navigation-link>
    <app-navigation-link link_name = "My Lists" href="/booklist"></app-navigation-link>
    <app-navigation-link link_name = "All Books" href="/books"></app-navigation-link>
    <app-navigation-link link_name = "Add Book" href="/addBook"></app-navigation-link>
    <app-navigation-link link_name = "Search Book" href="/search"></app-navigation-link>
  </div>
</div>
